---
layout: splash
extra_css: index.css
categories:
- chapters
---

<div class="hero-unit">
  <h1 class="centered" id="the-rubymotion">RubyMotion Tutorial</h1><p class="centered">Ruby で iOS アプリを作ろう</p>
  <h1 class="centered" id="by-me"><small>by Clay Allsopp <a href="https://twitter.com/clayallsopp" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @clayallsopp</a>
  <h1 class="centered" id="by-me"><small>日本語訳: <a href="http://rubymotion.jp">RubyMotion JP</a></small></h1>
</div>
<p class="about"><a href="http://rubymotion.com" target="_blank">RubyMotion</a> を使うと <strong>Ruby で iOS のアプリを開発する</strong>ことができます。これまで Apple のプラットフォームにおけるソフトウェアは Objective-C という、素晴らしいがその一方でニッチな言語しか使用できないよう制限されてきました。RubyMotion は完全にネイティブで、効率の良い他の言語による開発を可能にします。その言語とは Ruby です。</p>
<p class="about"><strong>RubyMotion Tutorial</strong> では iOS SDK をできる限り Ruby らしく使うために必要不可欠なトピックを学ぶことができます。すべてを網羅はしていませんが、洗練されたアプリケーションを最大限素早く開発するための道しるべとなるでしょう。</p>
<hr />
<h2>目次</h2>
<ul class="contents nav nav-list">
    {% for post in site.categories.chapters reversed %}
      <li>
        <a href="{{post.url}}">
          <div><span>{% if post.full_title %} {{ post.full_title }} {% else %} {{ post.title }} {% endif %}</span><i class="icon-chevron-right"></i></div>
        </a>
      </li>
    {% endfor %}
</ul>

<div class="well">
  <h2 id="about-me-header">著者について <a href="https://twitter.com/clayallsopp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @clayallsopp</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></h2>

  <p>Clay Allsopp はモバイル開発のハッカーです。彼はいくつかの <a href="https://github.com/clayallsopp/formotion" target="_blank">有名な</a> <a href="https://github.com/clayallsopp/remote_model" target="_blank">RubyMotion向け</a> <a href="https://github.com/clayallsopp/Routable" target="_blank">プロジェクト</a> の開発者であり、さらに最も広く使用されている RubyMotion 用ライブラリである <a href="http://bubblewrap.io/" target="_blank">BubbleWrap</a> のメンテナでもあります。<a href="http://20under20.org" target="_blank">Thiel Fellowship</a> の一員として Clay は以前 <a href="http://discovercircle.com" target="_blank">Circle</a> チームの初期メンバーであり、その非常に美しい iOS と Android アプリの開発に貢献していました。</p>
  <p>しかしそれらは置いておいて、私は RubyMotion が iOS ソフトウェアの開発を始める素晴らしい方法であると信じてこのチュートリアルを書きました。全ての人にとってではありませんが、iOS 開発に対して様子を伺っているたくさんの開発者にとっては間違いなく始める障壁を低くするものです。もし自分のことだと感じたのなら、これを読んでぜひ飛び込んでみてほしいと思います。</p>
</div>
<hr />
  <h2>気に入りましたか？<small id="spread">広めてください</small></h2>
  <div id="social">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tutorial.rubymotion.jp" data-size="large" data-related="clayallsopp" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <div class="fb-like" data-href="http://tutorial.rubymotion.jp/" data-send="true" data-width="450" data-show-faces="true"></div>
  </div>
  <hr />